
*{
    font-family: 'Nunito', sans-serif;

}
body{
    height: 1920px;
}
.calendar-wrapper{
    width: 100%;
    margin: auto;
    text-align: center;
}

.calendar-wrapper table{

    margin: auto;
    width: 95%;
    height: 400px;
}

table a{
    color:#000000 ;

}

.modal-dialog .modal-body table{
    width: 100%;

}

.calendario-mes td:hover{
    background-color: #006699;
    opacity: 0.6;
}
.calendario-mes div:hover{
    color: whitesmoke;

}
.glyphicon.glyphicon-circle-arrow-left{
    font-size: 35px;

}
.glyphicon.glyphicon-circle-arrow-right{
    font-size: 35px;

}

.medc-table{
    border: 1px solid black;
    border-collapse: separate;
    border-spacing: 0px;
}
.medc-table td{
    border: 1px solid black;
    border-radius: 5px;
}
.btn-add-event{
    margin-top: 25px;
    background-color: #003366;
    color: white;
    font-size: 1.3em;
    width: 300px;
    height: 100px;
    border-radius: 20px;
}
.btn-add-event:hover{
    opacity: 0.9;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #eee;
    opacity: 0.8;

}

.records-tittle{
    text-align: center;
    margin: 30px;

}
.record{
    margin-top: 15px;
    width: 75%;
    height: 50px;
    background-color: #eee;
    border-spacing: 2px;
    border-color: grey;
    border-: 1px;
    opacity: 0.8;
    margin: auto;
    padding-left: 15px;
    line-height: 50px;


}
