<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>MedC</title>

    <!-- Bootstrap -->
    <link href="{ % static "static_root/styles/bootstrap.min.css"% }" rel="stylesheet">
    <!-- Fonts Awesome -->
    <link href="{ % static "static_root/font-awesome/css/font-awesome.css"% }" rel="stylesheet">
    <!-- My CSS -->
    <link href="{ % static "static_root/styles/base/navbar.css"% }" rel="stylesheet">
    <link href="{ % static "static_root/styles/base/style.css"% }" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="wrapper">
    <!---------------------------Top Nav Bar----------------------------------------------- -->
    <div id="top-navbar">
        <nav class="navbar-default navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>p
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a id="side-menu" class="navbar-brand" href="index.html">MedC
                    <i class="fa fa-chevron-right"></i>
                </a>

            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" aria-expanded="false" data-toggle="dropdown" href="#">
                        <i class="fa fa-comments-o"></i>
                        <span class="badge">5</span>
                    </a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle avatar" data-toggle="dropdown" href="#" aria-expanded="false">
                        <img src="images/1.png">
                        <span class="badge">2</span>
                    </a>
                </li>
            </ul>
            <form class="navbar-form navbar-right">
                <input class="form-control" type="text" onblur="if (this.value == '') {this.value = 'Search...';}" onfocus="this.value = '';" value="Search...">
            </form>
        </nav>


    </div>
    <!-----------------------side bar----------------------------------------------->
    <div id="sidebar-wrapper" class="not-collapsed">
        <nav class="sidebar-menu push-effect" id="sidebar-1">
            <ul class="sidebar-nav">

                <li>
                    <a class="dropdown-toggle menu" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-home"></i>
                        <a class="sidebar-text visible" href="{% url "records_general" %}"> Home</a>
                    </a>
                </li>

                <li>
                    <a class="dropdown-toggle menu" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-calendar"></i>
                        <a class="sidebar-text visible" href="{% url "monthly_view" %}"> Calendar</a>
                    </a>
                </li>

                <li>
                    <a class="dropdown-toggle menu" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-money"></i>
                        <a class="sidebar-text visible"> Caja</a>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <!---------------------------------------------------------------------->
    <div id="page-content-wrapper">
        {% block body_block %}{% endblock %}

    </div>

</div>




<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{ % static "static_root/scripts/js/bootstrap.min.js"% }"></script>
<script src="{ % static "static_root/scripts/js/sidebar.js"% }"></script>
<script src="{% static "static_root/scripts/js/confirm_popup.js" %}"></script>


</body>
</html>
