{% extends "base.html" %}
{% load scheduletags i18n %}

{% block body_block %}
<div class="calendar-wrapper">

    {% include "schedule/_dialogs.html" %}
    <div class="row row-centered">
      <a class="btn btn-primary gradient" href="{% url "weekly_view_medc" calendar.slug %}{% querystring_for_date periods.day.start 3 True %}">
        {% trans "Week" %}
      </a>
      <a class="btn btn-primary gradient" href="{% url "monthly_view_medc" calendar.slug %}{% querystring_for_date periods.day.start 2 True %}">
        {% trans "Month" %}
      </a>

    </div>

    <div class="row row-centered calendarname">
        <h1>{{ calendar.name }}</h1>
        {% prevnext "daily_view" calendar periods.day "l, F d, Y" %}
        <div class="now">
          <a class="btn btn-primary gradient" href="{% url "daily_view" calendar.slug %}">
            {% trans "Today" %}
          </a>
        </div>
    </div>
      <div class="row row-centered">
        <div>
          {% daily_table periods.day %}
        </div>
    </div>
</div>
{% endblock %}
